<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-4.3.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
         http://www.springframework.org/schema/task
		 http://www.springframework.org/schema/task/spring-task-4.3.xsd">


       <!--连接MySql数据库——druid -->
       <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
              <!--druid根据url头自动识别driver-->
              <!--<property name="url" value="jdbc:mysql://localhost:3306/test?useUnicode=true&amp;autoReconnect=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull"/>-->
              <property name="driverClassName" value="com.mysql.jdbc.Driver" />
              <property name="url" value="jdbc:mysql://127.0.0.1:3306/test"/>
              <property name="username" value="root"/>
              <property name="password" value="123456"/>

              <!-- 配置初始化大小、最小、最大 -->
              <property name="initialSize" value="1" />
              <property name="minIdle" value="1" />
              <property name="maxActive" value="10000" />

              <!-- 配置获取连接等待超时的时间 -->
              <property name="maxWait" value="60000" />

              <property name="filters" value="stat" />

              <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
              <property name="timeBetweenEvictionRunsMillis" value="60000" />

              <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
              <property name="minEvictableIdleTimeMillis" value="300000" />

              <property name="validationQuery" value="SELECT 'x' from dual" />
              <property name="testWhileIdle" value="true" />
              <property name="testOnBorrow" value="false" />
              <property name="testOnReturn" value="false" />

              <!-- 打开PSCache，并且指定每个连接上PSCache的大小,对游标的支持很好，所以oracle通常这个设置为true -->
              <property name="poolPreparedStatements" value="false" />

              <property name="maxPoolPreparedStatementPerConnectionSize" value="20" />
       </bean>


        <!-- 配置业务层类 -->
        <bean id="accountService" class="com.cwnu.AccountServiceImpl">
            <property name="accountDao" ref="accountDao" />
        </bean>

        <!-- 配置DAO类(简化，会自动配置JdbcTemplate) -->
        <bean id="accountDao" class="com.cwnu.AccountDaoImpl">
            <property name="dataSource" ref="dataSource" />
        </bean>


        <bean id="sessionFactory"
              class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
            <property name="dataSource" ref="dataSource"></property>
            <property name="packagesToScan">
                <list>
                    <value>com.cwnu.entities</value>
                </list>
            </property>
            <property name="hibernateProperties">
                <props>
                    <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
                    <prop key="hibernate.hbm2ddl.auto">validate</prop>
                    <prop key="hibernate.query.substitutions">true 'T', false 'F'</prop>
                    <prop key="hibernate.show_sql">false</prop>
                    <prop key="current_session_context_class">org.springframework.orm.hibernate4.SpringSessionContext</prop>
                    <!--
                    <prop key="hibernate.cache.use_second_level_cache">true</prop>
                    <prop key="hibernate.cache.use_query_cache">true</prop>
                    -->
                </props>
            </property>
        </bean>


        <!-- ==================================4.使用注解配置声明式事务============================================ -->


        <!--
            配置事务管理器,这里配置的是org.springframework.orm.hibernate4.HibernateTransactionManager 事务管理器
            从网上可以知道其实有很多事务管理器比如 org.springframework.jdbc.datasource.DataSourceTransactionManager 等..
         -->
        <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
            <property name="sessionFactory" ref="sessionFactory"/>
        </bean>


        <!-- 开启注解事务 -->
        <tx:annotation-driven transaction-manager="transactionManager"/>


</beans>